# Firebase & Credentials
*.json
serviceAccountKey.json

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/
android/app/debug/
android/app/profile/
android/app/release/

# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
